 <div class="container">

    <ul class="card-grid col-lg-6">
     <% @pins.each do |pin| %>


      <% if pin.photo.attached? %>
      <li class="card"><%= cl_image_tag pin.photo.key, crop: :fill %>
        <% else %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", class: "card-img" %>
        <% end %>
        <div class="photobottom"><h2><%= link_to pin.title, pin %></h2></div>
      </li>


    <% end %>
    </ul>
  </div>


